$color-yellow-light: #F9ECCE;
$color-yellow: #EDD1A0;
$color-yellow-dark: #C59876;
$color-green-light:#B3E962;
$color-green:#81B948;
$color-green-dark:#679724;
$color-blue-dark: #85CCFF; 
$color-blue-dark: #3B8EC9;
$color-blue-dark: #004FAA;
$color-gray-extra-light: #c6c6c6;
$color-gray-light: #EEF1F3;
$color-gray: #BFCDD6;
$color-gray-dark: #778792;
$color-gray-extra-dark: #3B4A54;
$color-white: #FFFFFF;
$color-black: #000000;