.newpassword-hero-section{
	.set-bg{
		.container{
			display: flex;
			justify-content: center;
			height: 254px;
		}

		.header__logo{
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		@media only screen and (min-width: 1440px) {
			padding-bottom: 85px;
		}
	}
}

.create-newpassword-section{
	overflow: hidden;
	form{
		margin: 0 auto;
		max-width: 440px;
		padding-left: 10px;
		padding-right: 10px;
		.email-title{
			@include base-h4;
			font-family: Roboto Slab;
			font-weight: bold;
			color: $color-green;
		}
	}
	@media only screen and (max-width: 767px) {
	    padding-top: 30px;
		padding-bottom: 80px;
	}
}