.pricing-hero-section {
	background-color: #EEF1F3;
	.set-bg{
		.container{
			display: flex;
			justify-content: center;
			height: 254px;
		}

		.header__logo{
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		@media only screen and (min-width: 1440px) {
			padding-bottom: 85px;
		}
	}
}
