{% extends 'base.html' %}

{% load static %}


{% block main %}
<!-- Header Section Begin -->
<header class="header-section">
    <div class="header__info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__info-left">
                        <ul>
                            <li><a href="#">Your Guestmaps</a></li>
                            <li><a href="#">Contact to support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__info-right">
                        <ul>
                            <li>
                                <img src="{% static 'img/user-avatar.png' %}">
                            </li>
                            <li>
                                <a href="{% url 'ajax_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="newpassword-hero-section">
    <!-- <div class="hero__slider owl-carousel"> -->
        <div class="set-bg" data-setbg="{% static 'img/hero/pwd-bk.png' %}">
            <div class="container">
                <div class="header__logo">
                    <div class="row">
                        <a href="{% url() %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="canvas__open">
                    <img src="{% static 'img/menu.png' %}">
                </div>
                <div class="user__login">
                    <img src="{% static 'img/user-avatar.png' %}" onclick="doLogin()">
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
<!-- Hero Section End -->

<section class="create-newpassword-section spad-md">
    <form action="#" id="form" class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <h1 class="modal-title ta-center">Create a new password for</h1>
                <h4 class="email-title ta-center">email@email.com</h4>
                <div class="modal-input-group mt-36">
                    <label class="modal-input-label">Your email</label> 
                    <input name="title" placeholder="Email" class="form-control" type="text">
                </div>                                    
                <div class="modal-input-group">
                    <label class="modal-input-label">Your password</label> 
                    <input name="title" placeholder="password" class="form-control" type="text">
                </div>
            </div>
        </div>
        <button type="submit" class="btn green-btn mt-40" data-dismiss="modal" aria-label="Close">Create a new password</button>
    </form>
</section>
{% endblock main %}

{% block script %}
{% endblock script %}